@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 200, 200);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 119, 119);
}

::-webkit-input-placeholder {
  color: var(--placeHolderColor);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--placeHolderColor);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeHolderColor);  
}

:-ms-input-placeholder {  
  color: var(--placeHolderColor);  
}

:root {
  --bgColor: #2b2828;
  --bgInverse: #f5eeee;
  --mainRed: #ff0000;
  --textColor: #fff;
  --placeHolderColor: #c9c2c2;
}