@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 200, 200);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 119, 119);
}

:root {
  --bgColor: rgb(13, 13, 13);
  --MainRed: #ff0000;
}